.container-2 {
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 20px;
    background-color: rgb(210, 242, 255);
}
.container-1 {
    display: flex;
    background-color: yellow;
    padding: 10px;
    position: relative;
}

